@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 0.875;
}
body {    
    height: 100vh;    
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    background-color: var(--Cream);
}

:root {
    --Darkcyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Verydarkblue: hsl(212, 21%, 14%);
    --Darkgrayishblue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
    
    --font2:    font-family: 'Montserrat', sans-serif;   
    --font3:    font-family: 'Fraunces', serif;
}

@media (min-width: 375px){ 
    .container {                
        display: grid;
        max-width: 325px;        
        height: max-content;        
        grid-template-columns: repeat(1 , 1fr);
        grid-template-rows: repeat(auto , 1fr);
        background-color: var(--White);
        border-radius: 15px 15px;
        margin-bottom: 5px;
    }

 


    .container :nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .contenido_img {
        height: 300px;
        background-image: url(./images/image-product-mobile.jpg);
        background-size: cover;
        background-position:center;
        background-repeat: no-repeat;
        border-radius: 15px 15px 0px 0px;

    }

    .text_grey {
        font-family: 'Montserrat', sans-serif;   
        color: var(--Darkgrayishblue);
        font-size: 0.7em;
        padding-left: 25px;
        padding-top: 25px;
    }
    
    .container :nth-child(2) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;        
    }

   

    .text_title_black{
        font-family: 'Fraunces', serif;
        color: var(--Verydarkblue);
        font-size: 1.8em;
        padding-right: 25px;
        padding-left: 25px;
        padding-top: 10px;
    }

    .container :nth-child(3) {
        grid-column: 1 / 2;
        grid-row: 3 / 4;        
    }

    .text_contenido_grey{
        font-family: 'Montserrat', sans-serif;   
        color: var(--Darkgrayishblue);
        line-height: 1.9em;
        font-size: 0.79em;
        padding-right: 25px;
        padding-left: 25px;
        padding-top: 10px;
        
    }

    
    .container :nth-child(4) {
        grid-column: 1 / 2;
        grid-row: 4 / 5;        
        display: flex;        
    }

    .number {
        display:flex;        
        align-items: center;
        margin-top: 15px; 
        margin-left: 25px;
    }
    .precio {       
        font-size: 2em;
        font-family: 'Fraunces', serif;
        color: var(--Darkcyan);
        margin-right: 25px;
    }
    .precio_tachado {
        font-family: 'Montserrat', sans-serif;   
        color: var(--Darkgrayishblue);
        font-size: 0.9em;
        text-decoration-line: line-through;
    }
    
    .container :nth-child(5) {
        grid-column: 1 / 2;
        grid-row: 5 / 6;                
    }

    .buttom {
        width: 275px;
        height: 45px;
        margin: 20px auto;        
        border: none;
        background-color: var(--Darkcyan);
        border-radius: 8px 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px
    }

    .addtocart {
        font-family: 'Montserrat', sans-serif;   
        color: var(--White);
        font-size: 0.9em;
        
    }

    .img_car {
        width: 18px;
    }


    .container :nth-child(6) {
        grid-column: 1 / 2;
        grid-row: 6 / 7;        
    }

    
}

@media (min-width: 1440px){ 

    .container {        
        display: grid;
        max-width: 900px;        
        height: max-content;        
        grid-template-columns: repeat(2 , 1fr);
        grid-template-rows: repeat(auto , 1fr);
        margin-bottom: 20px;
    }

    

    .container :nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 6;
        
    }

    .contenido_img {
        height: 700px;
        background-image: url(./images/image-product-desktop.jpg);
        background-size: cover;
        background-position:center;
        background-repeat: no-repeat;
        border-radius: 15px 0px 0px 15px;
    }

    .text_grey {
        font-size: 1.2em;
        padding-left: 50px;
        padding-top: 50px;
    }
    
    .container :nth-child(2) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;        
    }

    .text_title_black{
        font-size: 2.9em;
        padding-right: 50px;
        padding-left: 50px;
        padding-top: 20px;
        
    }

    .container :nth-child(3) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;        
    }

    .text_contenido_grey{
        line-height: 1.5em;
        font-size: 1.3em;
        padding-right: 50px;
        padding-left: 50px;
        padding-top: 35px;
        
    }

    
    .container :nth-child(4) {
        grid-column: 2 / 3;
        grid-row: 3 / 4;        
        display: flex;        
    }

    .number {

        margin-top: 30px; 
        margin-left: 50px;
    }
    .precio {       
        font-size: 3em;
        margin-right: 25px;
    }
    .precio_tachado {
        font-size: 1.3em;
    }
    
    .container :nth-child(5) {
        grid-column: 2 / 3;
        grid-row: 4 / 5;                
    }

    .container :nth-child(6) {
        grid-column: 2 / 3;
        grid-row: 5 / 6;        
    }

    .buttom {
        width: 340px;
        height: 65px;
        margin-top: 50px;
        margin-bottom: 70px;
        border-radius: 10px 10px;
        gap: 20px
    }

    .addtocart {
        font-family: 'Montserrat', sans-serif;   
        color: var(--White);
        font-size: 1.5em;
        
    }

    .img_car {
        width: 25px;
    }


   

    
}